<html>
	<head>
		<title>AlephZero Playground</title>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
		<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script defer id="ace" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js"></script>
	</head>
	<body>
		<div id="app">
			<nav class="navbar is-dark">
				<div class="navbar-brand">
					<a class="navbar-item" href="https://github.com/alephzero">
						<img src="https://avatars1.githubusercontent.com/u/48891271" height="28" style="filter: invert(1)">
					</a>
				</div>
				<div class="navbar-menu">
					<div class="navbar-start">
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link">
								Language ({{lang_display[selected_lang]}})
							</a>
							<div class="navbar-dropdown">
								<a class="navbar-item" v-for="lang in lang_opts" @click="select_lang(lang)">
									<div :class="{'has-text-primary': lang==selected_lang, 'has-text-weight-bold': lang==selected_lang}">
										{{lang_display[lang]}}
									</div>
								</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link">
								Example
							</a>
							<div class="navbar-dropdown">
								<a class="navbar-item" v-for="ex in examples" @click="select_example(example_info[ex])">
									{{example_info[ex].display}}
								</a>
							</div>
						</div>
					</div>
					<div class="navbar-end">
						<div class="tag is-dark">Ctrl + ENTER to Run</div>
					</div>
				</div>
			</nav>

			<div class="columns is-gapless" style="height: 100%">
				<div class="column" style="margin: 1px">
					<pre id="code" style="height: 100%; font-size: 1.25em;"></pre>
				</div>
				<div class="column" style="margin: 1px; overflow: auto;">
					<div class="has-background-dark" style="height: 100%;">
						<pre class="has-text-primary has-background-dark" style="font-size: 1em" v-if="code_stdout">{{code_stdout}}</pre>
						<pre class="has-text-danger has-background-dark" style="font-size: 1em" v-if="code_stderr">{{code_stderr}}</pre>
					</div>
				</div>
			</div>
		</div>>

		<script>
			const vueobj = new Vue({
				el: '#app',
				data: {
					lang_opts: ['cc', 'go', 'py'],
					lang_display: {py: 'Python', go: 'Go', cc: 'C++'},
					selected_lang: undefined,
					examples: ['pub_cc', 'sub_sync_cc', 'sub_cc', 'rpc_server_cc', 'rpc_client_cc',
							   'pub_go', 'sub_sync_go', 'sub_go', 'rpc_server_go', 'rpc_client_go',
							   'pub_py', 'sub_sync_py', 'sub_py', 'rpc_server_py', 'rpc_client_py'],
					example_info: {
						pub_cc: {
							display: 'Publisher (C++)',
							lang: 'cc',
							code: `#include <alephzero.hpp>

#include <chrono>
#include <iostream>
#include <system_error>
#include <thread>

int main() {
	setvbuf(stdout, NULL, _IONBF, 0);

	a0::TopicManager tm(R"({
        "container": "localizer"
	})");
	
	a0::Publisher p(tm.publisher_topic("location"));

	for (int i = 0; i < 10; i++) {
		std::string payload = "here (ts=" + std::to_string(i) + ")";
		std::cout << "publishing: " << payload << std::endl;
		p.pub(a0::Packet::build({}, payload));
        std::this_thread::sleep_for(std::chrono::seconds(1));
	}

    std::cout << "Done!" << std::endl;
}
`,
						},
						sub_sync_cc: {
							display: 'Subscriber Sync (C++)',
							lang: 'cc',
							code: `#include <alephzero.hpp>

#include <chrono>
#include <iostream>
#include <system_error>
#include <thread>

int main() {
	setvbuf(stdout, NULL, _IONBF, 0);

    a0::TopicManager tm(R"({
		"container": "controller",
		"subscriber_maps": {
			"where_am_I": {
				"container": "localizer",
				"topic": "location"
			}
		}
    })");

	a0::SubscriberSync sub(tm.subscriber_topic("where_am_I"), A0_INIT_OLDEST, A0_ITER_NEXT);

    while (sub.has_next()) {
		auto pkt = sub.next();
		std::cout << "I am " << pkt.payload() << std::endl;
    }

    std::cout << "Done!" << std::endl;
}
`,
						},
						sub_cc: {
							display: 'Subscriber (C++)',
							lang: 'cc',
							code: `#include <alephzero.hpp>

#include <chrono>
#include <iostream>
#include <system_error>
#include <thread>

int main() {
	setvbuf(stdout, NULL, _IONBF, 0);

    a0::TopicManager tm(R"({
		"container": "controller",
		"subscriber_maps": {
			"where_am_I": {
				"container": "localizer",
				"topic": "location"
			}
		}
    })");

	std::cout << "Listening for 60 sec" << std::endl;

	a0::Subscriber sub(
		tm.subscriber_topic("where_am_I"),
		A0_INIT_AWAIT_NEW,
		A0_ITER_NEWEST,
		[](const a0::Packet& pkt) {
			std::cout << "I am " << pkt.payload() << std::endl;
		});

	std::this_thread::sleep_for(std::chrono::seconds(60));
    std::cout << "Done!" << std::endl;
}
`,
						},
						rpc_server_cc: {
							display: 'RPC Server (C++)',
							lang: 'cc',
							code: `#include <alephzero.hpp>
#include <chrono>
#include <iostream>
#include <system_error>
#include <thread>

int main() {
	setvbuf(stdout, NULL, _IONBF, 0);

    a0::TopicManager tm(R"({
		"container": "stuff_doer"
    })");

	auto onrequest = [&](a0::RpcRequest req) {
		std::cout << "Request (id=" << req.pkt().id() << "): " << req.pkt().payload() << std::endl;
		req.reply(a0::Packet::build({}, "No path found. Try again later"));
	};
	auto oncancel = [&](const std::string& id) {
		std::cout << "Cancel req: " << id << std::endl;
	};

	std::cout << "Listening for 60 sec" << std::endl;
	a0::RpcServer server(tm.rpc_server_topic("navigate"), onrequest, oncancel);
	std::this_thread::sleep_for(std::chrono::seconds(60));
	std::cout << "Done!" << std::endl;
}`,
						},
						rpc_client_cc: {
							display: 'RPC Client (C++)',
							lang: 'cc',
							code: `#include <alephzero.hpp>
#include <chrono>
#include <iostream>
#include <system_error>
#include <thread>

int main() {
	setvbuf(stdout, NULL, _IONBF, 0);

    a0::TopicManager tm(R"({
		"container": "bar",
		"rpc_client_maps": {
			"drive_in_circles": {
				"container": "stuff_doer",
				"topic": "navigate"
			}
		}
	})");

	a0::RpcClient client(tm.rpc_client_topic("drive_in_circles"));
	client.send(
		a0::Packet::build({}, "Please do!"),
		[](const a0::Packet& reply) {
			std::cout << "Recieved reply: " << reply.payload() << std::endl;
		}
	);
	std::this_thread::sleep_for(std::chrono::milliseconds(1));
	std::cout << "Done!" << std::endl;
}`,
						},
						pub_go: {
							display: 'Publisher (Go)',
							lang: 'go',
							code: `package main

import (
    a0 "github.com/alephzero/go"
    "fmt"
    "log"
    "time"
)

func check(err error) {
    if err != nil {
        log.Panicf("err: %v", err)
    }
}

func main() {
    tm, err := a0.NewTopicManagerFromJSON(\`{
        "container": "localizer"
    }\`)
    check(err)
    defer tm.Close()

    topic, err := tm.OpenPublisherTopic("location")
    check(err)
    defer topic.Close()

    pub, err := a0.NewPublisher(topic)
    check(err)
    defer pub.Close()

    for i := 0; i < 10; i++ {
        var hdrs []a0.PacketHeader
        pkt, err := a0.NewPacket(hdrs, []byte(fmt.Sprintf("here (ts=%v)", i)))
        check(err)
        check(pub.Pub(pkt))
        time.Sleep(time.Second)
    }

    fmt.Println("Done!")
}
`,
						},
						sub_sync_go: {
							display: 'Subscriber Sync (Go)',
							lang: 'go',
							code: `package main

import (
    a0 "github.com/alephzero/go"
    "fmt"
    "log"
)

func check(err error) {
    if err != nil {
        log.Panicf("err: %v", err)
    }
}

func main() {
    tm, err := a0.NewTopicManagerFromJSON(\`{
		"container": "controller",
		"subscriber_maps": {
			"where_am_I": {
				"container": "localizer",
				"topic": "location"
			}
		}
    }\`)
    check(err)
    defer tm.Close()

    topic, err := tm.OpenSubscriberTopic("where_am_I")
    check(err)
    defer topic.Close()

    sub, err := a0.NewSubscriberSync(topic, a0.INIT_MOST_RECENT, a0.ITER_NEWEST)
    check(err)
    defer sub.Close()

    for {
		hasNext, err := sub.HasNext()
		check(err)
		if !hasNext {
			break
		}
		pkt, err := sub.Next()
		check(err)

		payload, err := pkt.Payload()
		check(err)
		fmt.Printf("I am %v\\n", string(payload))
    }

    fmt.Println("Done!")
}
`,
						},
						sub_go: {
							display: 'Subscriber (Go)',
							lang: 'go',
							code: `package main

import (
    a0 "github.com/alephzero/go"
    "fmt"
	"log"
	"time"
)

func check(err error) {
    if err != nil {
        log.Panicf("err: %v", err)
    }
}

func main() {
    tm, err := a0.NewTopicManagerFromJSON(\`{
		"container": "controller",
		"subscriber_maps": {
			"where_am_I": {
				"container": "localizer",
				"topic": "location"
			}
		}
    }\`)
    check(err)
    defer tm.Close()

    topic, err := tm.OpenSubscriberTopic("where_am_I")
    check(err)
    defer topic.Close()

    sub, err := a0.NewSubscriber(topic, a0.INIT_MOST_RECENT, a0.ITER_NEWEST, func(pkt a0.Packet) {
		payload, err := pkt.Payload()
		check(err)
		fmt.Printf("I am %v\\n", string(payload))
	})
    check(err)
    defer sub.Close()

	time.Sleep(60 * time.Second)

    fmt.Println("Done!")
}
`,
						},
						rpc_server_go: {
							display: 'RPC Server (Go)',
							lang: 'go',
							code: `package main

import (
    a0 "github.com/alephzero/go"
    "fmt"
    "log"
    "time"
)

func check(err error) {
    if err != nil {
        log.Panicf("err: %v", err)
    }
}

func main() {
    tm, err := a0.NewTopicManagerFromJSON(\`{
        "container": "stuff_doer"
    }\`)
    check(err)
    defer tm.Close()

    topic, err := tm.OpenRpcServerTopic("navigate")
    check(err)
    defer topic.Close()

	onrequest := func(req a0.RpcRequest) {
		payload, err := req.Packet().Payload()
		check(err)
		id, err := req.Packet().Id()
		check(err)
		fmt.Printf("Request (id=%v): %v\\n", id, string(payload))

        var hdrs []a0.PacketHeader
        replyPkt, err := a0.NewPacket(hdrs, []byte("No path found. Try again later"))
        check(err)
		check(req.Reply(replyPkt))
	}
	oncancel := func(id string) {
		fmt.Printf("Cancel req: %v\\n", id)
	}
    server, err := a0.NewRpcServer(topic, onrequest, oncancel)
    check(err)
	defer server.Close()

    time.Sleep(60 * time.Second)

    fmt.Println("Done!")
}
`,
						},
						rpc_client_go: {
							display: 'RPC Client (Go)',
							lang: 'go',
							code: `package main

import (
    a0 "github.com/alephzero/go"
    "fmt"
    "log"
    "time"
)

func check(err error) {
    if err != nil {
        log.Panicf("err: %v", err)
    }
}

func main() {
    tm, err := a0.NewTopicManagerFromJSON(\`{
		"container": "bar",
		"rpc_client_maps": {
			"drive_in_circles": {
				"container": "stuff_doer",
				"topic": "navigate"
			}
		}
    }\`)
    check(err)
    defer tm.Close()

    topic, err := tm.OpenRpcClientTopic("drive_in_circles")
    check(err)
    defer topic.Close()

	client, err := a0.NewRpcClient(topic)
    check(err)
	defer client.Close()

	var hdrs []a0.PacketHeader
	req, err := a0.NewPacket(hdrs, []byte("Please do!"))
	check(err)

	check(client.Send(req, func(reply a0.Packet) {
		payload, err := reply.Payload()
		check(err)
		fmt.Printf("Recieved reply: %v\\n", string(payload))
	}))

	time.Sleep(time.Second)

	fmt.Println("Done!")
}
`,
						},
						pub_py: {
							display: 'Publisher (Py)',
							lang: 'py',
							code: `import alephzero as a0
import time

tm = a0.TopicManager('''{
    "container": "localizer"
}''')

p = a0.Publisher(tm.publisher_topic('location'))
for i in range(10):
	payload = 'here (ts={})'.format(i)
	print('publishing:', payload)
	p.pub(a0.Packet([], payload))
	time.sleep(1)

print('Done!')
`,
						},
						sub_sync_py: {
							display: 'Subscriber Sync (Py)',
							lang: 'py',
							code: `import alephzero as a0

tm = a0.TopicManager('''{
    "container": "controller",
    "subscriber_maps": {
        "where_am_I": {
            "container": "localizer",
            "topic": "location"
        }
    }
}''')

sub = a0.SubscriberSync(tm.subscriber_topic('where_am_I'), a0.INIT_OLDEST, a0.ITER_NEXT)
print('Starting iteration')
while sub.has_next():
    print('I am', sub.next().payload)
print('Done!')
`,
						},
						sub_py: {
							display: 'Subscriber (Py)',
							lang: 'py',
							code: `import alephzero as a0
import time

tm = a0.TopicManager('''{
    "container": "Endor",
    "subscriber_maps": {
        "where_am_I": {
            "container": "localizer",
            "topic": "location"
        }
    }
}''')

def callback(pkt):
	print('I am', pkt.payload)

print('Listening for 60 sec')
sub = a0.Subscriber(tm.subscriber_topic('where_am_I'), a0.INIT_AWAIT_NEW, a0.ITER_NEWEST, callback)
time.sleep(60)
print('Done!')
`,
						},
						rpc_server_py: {
							display: 'RPC Server (Py)',
							lang: 'py',
							code: `import alephzero as a0
import time

tm = a0.TopicManager('''{
    "container": "stuff_doer"
}''')

def onrequest(req):
	print('Request (id={}):'.format(req.pkt.id), req.pkt.payload)
	req.reply(a0.Packet([], 'No path found. Try again later'))

def oncancel(id):
	print('Cancel req:', id)

print('Listening for 60 sec')
server = a0.RpcServer(tm.rpc_server_topic('navigate'), onrequest, oncancel)
time.sleep(60)
print('Done!')
`,
						},
						rpc_client_py: {
							display: 'RPC Client (Py)',
							lang: 'py',
							code: `import alephzero as a0
import time

tm = a0.TopicManager('''{
    "container": "bar",
    "rpc_client_maps": {
        "drive_in_circles": {
            "container": "stuff_doer",
            "topic": "navigate"
        }
    }
}''')

client = a0.RpcClient(tm.rpc_client_topic('drive_in_circles'))

def callback(pkt):
	print('Recieved reply:', pkt.payload)

print('Awaiting for 0.01 sec')
client.send(a0.Packet([], 'Please do!'), callback)
time.sleep(0.01)
print('Done!')
`,
						},
					},
					editor: undefined,
					code_stdout: '',
					code_stderr: '',
					ws: undefined,
				},
				mounted() {
					const vm = this
					const ace_script = document.querySelector('#ace')
					ace_script.onload = vm.setup_code_panel
				},
				methods: {
					setup_code_panel() {
						const vm = this
						vm.editor = ace.edit('code')
						vm.editor.setTheme('ace/theme/merbivore_soft')
						vm.editor.setKeyboardHandler("ace/keyboard/sublime")
						vm.editor.focus()

						vm.editor.setValue(`print('Hello, World!')\n`, 1)
						vm.select_lang('py')

						vm.editor.commands.addCommand({
							name: 'run_code',
							bindKey: {win: 'Ctrl-Enter',  mac: 'Command-Enter'},
							exec: vm.run_code,
						})
					},
					run_code() {
						const vm = this

						if (vm.ws) {
							vm.ws.close()
						}
						vm.code_stdout = ''
						vm.code_stderr = ''

						vm.ws = new WebSocket(`ws://${location.host}/api/run`)
						vm.ws.onopen = () => {
							vm.ws.send(JSON.stringify({lang: vm.selected_lang, code: vm.editor.getValue()}))
						}
						vm.ws.onmessage = (evt) => {
							console.log('ws.onmessage', evt)
							msg = JSON.parse(evt.data)
							if (msg.stream == 'stdout') {
								vm.code_stdout += msg.output
							}
							if (msg.stream == 'stderr') {
								vm.code_stderr += msg.output
							}
						}
					},
					select_lang(lang) {
						const vm = this
						vm.selected_lang = lang
						if (vm.editor) {
							vm.editor.session.setMode({
								cc: 'ace/mode/c_cpp',
								go: 'ace/mode/golang',
								py: 'ace/mode/python',
							}[lang])
						}
					},
					select_example(example) {
						const vm = this

						if (vm.ws) {
							vm.ws.close()
						}
						vm.code_stdout = ''
						vm.code_stderr = ''

						vm.select_lang(example.lang)
						vm.editor.setValue(example.code, 1)
					}
				}
			})
		</script>
	</body>
</html>
