<html>
	<head>
		<title>AlephZero Playground</title>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
		<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script defer id="ace" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js"></script>
	</head>
	<body>
		<div id="app">
			<nav class="navbar is-dark">
				<div class="navbar-brand">
					<a class="navbar-item" href="https://github.com/alephzero">
						<img src="https://avatars1.githubusercontent.com/u/48891271" height="28" style="filter: invert(1)">
					</a>
				</div>
				<div class="navbar-menu">
					<div class="navbar-start">
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link">
								Language ({{lang_display[selected_lang]}})
							</a>
							<div class="navbar-dropdown">
								<a class="navbar-item" v-for="lang in lang_opts" @click="select_lang(lang)">
									<div :class="{'has-text-primary': lang==selected_lang, 'has-text-weight-bold': lang==selected_lang}">
										{{lang_display[lang]}}
									</div>
								</a>
							</div>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link">
								Example
							</a>
							<div class="navbar-dropdown">
								<a class="navbar-item" v-for="ex in examples" @click="select_example(example_info[ex])">
									{{example_info[ex].display}}
								</a>
							</div>
						</div>
					</div>
					<div class="navbar-end">
						<div class="tag is-dark">Ctrl + ENTER to Run</div>
					</div>
				</div>
			</nav>

			<div class="columns is-gapless" style="height: 100%">
				<div class="column" style="margin: 1px">
					<pre id="code" style="height: 100%; font-size: 1.25em;"></pre>
				</div>
				<div class="column" style="margin: 1px; overflow: auto;">
					<div class="has-background-dark" style="height: 100%;">
						<pre class="has-text-primary has-background-dark" style="font-size: 1em; height: 100%;" v-if="code_stdout">{{code_stdout}}</pre>
						<pre class="has-text-danger has-background-dark" style="font-size: 1em; height: 100%;" v-if="code_stderr">{{code_stderr}}</pre>
					</div>
				</div>
			</div>
		</div>>

		<script>
			new Vue({
				el: '#app',
				data: {
					lang_opts: ['cc', 'go', 'py'],
					lang_display: {py: 'Python', go: 'Go', cc: 'C++'},
					selected_lang: undefined,
					examples: ['pub_go', 'sub_sync_go', 'sub_go',
							   'pub_py', 'sub_sync_py', 'sub_py', 'rpc_server_py', 'rpc_client_py'],
					example_info: {
						pub_go: {
							display: 'Publisher (Go)',
							lang: 'go',
							code: `package main

import (
    a0 "github.com/alephzero/go"
    "fmt"
    "log"
    "time"
)

func check(err error) {
    if err != nil {
        log.Panicf("err: %v", err)
    }
}

func main() {
    tm, err := a0.NewTopicManagerFromJSON(\`{
        "container": "localizer"
    }\`)
    check(err)
    defer tm.Close()

    topic, err := tm.OpenPublisherTopic("location")
    check(err)
    defer topic.Close()

    pub, err := a0.NewPublisher(topic)
    check(err)
    defer pub.Close()

    for i := 0; i < 10; i++ {
        var hdrs []a0.PacketHeader
        pkt, err := a0.NewPacket(hdrs, []byte(fmt.Sprintf("here (ts=%v)", i)))
        check(err)
        check(pub.Pub(pkt))
        time.Sleep(time.Second)
    }

    fmt.Println("Done!")
}
`,
						},
						sub_sync_go: {
							display: 'Subscriber Sync (Go)',
							lang: 'go',
							code: `package main

import (
    a0 "github.com/alephzero/go"
    "fmt"
    "log"
)

func check(err error) {
    if err != nil {
        log.Panicf("err: %v", err)
    }
}

func main() {
    tm, err := a0.NewTopicManagerFromJSON(\`{
		"container": "controller",
		"subscriber_maps": {
			"where_am_I": {
				"container": "localizer",
				"topic": "location"
			}
		}
    }\`)
    check(err)
    defer tm.Close()

    topic, err := tm.OpenSubscriberTopic("where_am_I")
    check(err)
    defer topic.Close()

    sub, err := a0.NewSubscriberSync(topic, a0.INIT_MOST_RECENT, a0.ITER_NEWEST)
    check(err)
    defer sub.Close()

    for {
		hasNext, err := sub.HasNext()
		check(err)
		if !hasNext {
			break
		}
		pkt, err := sub.Next()
		check(err)

		payload, err := pkt.Payload()
		check(err)
		fmt.Printf("I am %v\\n", string(payload))
    }

    fmt.Println("Done!")
}
`,
						},
						sub_go: {
							display: 'Subscriber (Go)',
							lang: 'go',
							code: `package main

import (
    a0 "github.com/alephzero/go"
    "fmt"
	"log"
	"time"
)

func check(err error) {
    if err != nil {
        log.Panicf("err: %v", err)
    }
}

func main() {
    tm, err := a0.NewTopicManagerFromJSON(\`{
		"container": "controller",
		"subscriber_maps": {
			"where_am_I": {
				"container": "localizer",
				"topic": "location"
			}
		}
    }\`)
    check(err)
    defer tm.Close()

    topic, err := tm.OpenSubscriberTopic("where_am_I")
    check(err)
    defer topic.Close()

    sub, err := a0.NewSubscriber(topic, a0.INIT_MOST_RECENT, a0.ITER_NEWEST, func(pkt a0.Packet) {
		payload, err := pkt.Payload()
		check(err)
		fmt.Printf("I am %v\\n", string(payload))
	})
    check(err)
    defer sub.AwaitClose()

	time.Sleep(60 * time.Second)

    fmt.Println("Done!")
}
`,
						},
						pub_py: {
							display: 'Publisher (Py)',
							lang: 'py',
							code: `import alephzero as a0
import time

tm = a0.TopicManager('''{
    "container": "localizer"
}''')

topic = tm.open_publisher_topic('location')
p = a0.Publisher(topic)
for i in range(10):
	p.pub(a0.Packet([], 'here (ts={})'.format(i)))
	time.sleep(1)
p.close()

topic.close()
tm.close()
print('Done!')
`,
						},
						sub_sync_py: {
							display: 'Subscriber Sync (Py)',
							lang: 'py',
							code: `import alephzero as a0

tm = a0.TopicManager('''{
    "container": "controller",
    "subscriber_maps": {
        "where_am_I": {
            "container": "localizer",
            "topic": "location"
        }
    }
}''')

topic = tm.open_subscriber_topic('where_am_I')
sub = a0.SubscriberSync(topic, a0.INIT_MOST_RECENT, a0.ITER_NEWEST)
while sub.has_next():
    print('I am', sub.next().payload)
sub.close()

topic.close()
tm.close()
print('Done!')
`,
						},
						sub_py: {
							display: 'Subscriber (Py)',
							lang: 'py',
							code: `import alephzero as a0
import time

tm = a0.TopicManager('''{
    "container": "Endor",
    "subscriber_maps": {
        "where_am_I": {
            "container": "localizer",
            "topic": "location"
        }
    }
}''')

topic = tm.open_subscriber_topic('where_am_I')

def callback(pkt):
	print('I am', pkt.payload)
sub = a0.Subscriber(topic, a0.INIT_MOST_RECENT, a0.ITER_NEWEST, callback)
time.sleep(60)
sub.await_close()

topic.close()
tm.close()
print('Done!')
`,
						},
						rpc_server_py: {
							display: 'RPC Server (Py)',
							lang: 'py',
							code: `import alephzero as a0
import time

tm = a0.TopicManager('''{
    "container": "stuff_doer"
}''')

topic = tm.open_rpc_server_topic('navigate')

def onrequest(pkt):
	print('Request (id={}):'.format(pkt.id), pkt.payload)
	server.reply(pkt.id, a0.Packet([], 'No path found. Try again later'))
def oncancel(id):
	print('Cancel req:', id)
server = a0.RpcServer(topic, onrequest, oncancel)
time.sleep(60)
server.await_close()

topic.close()
tm.close()
print('Done!')
`,
						},
						rpc_client_py: {
							display: 'RPC Client (Py)',
							lang: 'py',
							code: `import alephzero as a0
import time

tm = a0.TopicManager('''{
    "container": "bar",
    "rpc_client_maps": {
        "drive_in_circles": {
            "container": "stuff_doer",
            "topic": "navigate"
        }
    }
}''')

topic = tm.open_rpc_client_topic("drive_in_circles")

client = a0.RpcClient(topic)

def callback(pkt):
	print('Recieved reply:', pkt.payload)
client.send(a0.Packet([], 'Please do!'), callback)
time.sleep(60)
client.await_close()

topic.close()
tm.close()
print('Done!')
`,
						},
					},
					editor: undefined,
					code_stdout: '',
					code_stderr: '',
					ws: undefined,
				},
				mounted() {
					const vm = this
					const ace_script = document.querySelector('#ace')
					ace_script.onload = vm.setup_code_panel
				},
				methods: {
					setup_code_panel() {
						const vm = this
						vm.editor = ace.edit('code')
						vm.editor.setTheme('ace/theme/tomorrow_night_eighties')
						vm.editor.focus()

						vm.editor.setValue(`print('Hello, World!')\n`, 1)
						vm.select_lang('py')

						vm.editor.commands.addCommand({
							name: 'run_code',
							bindKey: {win: 'Ctrl-Enter',  mac: 'Command-Enter'},
							exec: vm.run_code,
						})
					},
					run_code() {
						const vm = this

						if (vm.ws) {
							vm.ws.close()
						}
						vm.code_stdout = ''
						vm.code_stderr = ''

						vm.ws = new WebSocket(`ws://${location.host}/api/run`)
						vm.ws.onopen = () => {
							vm.ws.send(JSON.stringify({lang: vm.selected_lang, code: vm.editor.getValue()}))
						}
						vm.ws.onmessage = (evt) => {
							console.log('ws.onmessage', evt)
							msg = JSON.parse(evt.data)
							if (msg.stream == 'stdout') {
								vm.code_stdout += msg.output
							}
							if (msg.stream == 'stderr') {
								vm.code_stderr += msg.output
							}
						}
					},
					select_lang(lang) {
						const vm = this
						vm.selected_lang = lang
						if (vm.editor) {
							vm.editor.session.setMode({
								cc: 'ace/mode/c_cpp',
								go: 'ace/mode/golang',
								py: 'ace/mode/python',
							}[lang])
						}
					},
					select_example(example) {
						const vm = this

						if (vm.ws) {
							vm.ws.close()
						}
						vm.code_stdout = ''
						vm.code_stderr = ''

						vm.select_lang(example.lang)
						vm.editor.setValue(example.code, 1)
					}
				}
			})
		</script>
	</body>
</html>
